Arquivo vendas

In [1]:
pip install pandas numpy openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

# Criar dados hipotéticos
dados_vendas = {
    "Região": ["Norte", "Norte", "Sul", "Sul", "Norte"],
    "Mês": ["Jan", "Fev", "Jan", "Fev", "Mar"],
    "Vendas": [1500, None, 2200, 1800, 2000],
    "Despesas": [300, 250, None, 400, 350]
}

# Criar DataFrame e salvar como Excel
df_vendas = pd.DataFrame(dados_vendas)
df_vendas.to_excel("vendas.xlsx", index=False)
print("Arquivo vendas.xlsx criado com sucesso!")

Arquivo vendas.xlsx criado com sucesso!

In [9]:
df = pd.read_excel("vendas.xlsx")
print("Dados carregados:")
print(df)

Dados carregados:
  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev     NaN     250.0
2    Sul  Jan  2200.0       NaN
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

Inspecionando dados

In [3]:
import pandas as pd

# Carregar o arquivo Excel
df = pd.read_excel("vendas.xlsx")

# Inspecionar os dados
print("Primeiras linhas do DataFrame:")
print(df.head())  # Mostra as 5 primeiras linhas

print("\nInformações gerais:")
print(df.info())  # Mostra tipos de dados e valores ausentes

print("\nValores ausentes por coluna:")
print(df.isnull().sum())  # Conta valores NaN

Primeiras linhas do DataFrame:
  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev     NaN     250.0
2    Sul  Jan  2200.0       NaN
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

Informações gerais:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Região    5 non-null      object
 1   Mês       5 non-null      object
 2   Vendas    4 non-null      float64
 3   Despesas  4 non-null      float64
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes
None

Valores ausentes por coluna:
Região      0
Mês         0
Vendas      1
Despesas    1
dtype: int64

Valores ausentes

In [4]:
# Calcular mediana de Vendas
mediana_vendas = df["Vendas"].median()
# Substituir NA em Vendas pela mediana
df["Vendas"] = df["Vendas"].fillna(mediana_vendas)

# Calcular média de Despesas
media_despesas = df["Despesas"].mean()
# Substituir NA em Despesas pela média
df["Despesas"] = df["Despesas"].fillna(media_despesas)

# Verificar se ainda há valores ausentes
print("Valores ausentes após substituição:")
print(df.isnull().sum())

# Mostrar DataFrame atualizado
print("\nDataFrame após substituição:")
print(df)

Valores ausentes após substituição:
Região      0
Mês         0
Vendas      0
Despesas    0
dtype: int64

DataFrame após substituição:
  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev  1900.0     250.0
2    Sul  Jan  2200.0     325.0
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

Agrupar por região

In [5]:
# Agrupar por Região e Mês
grupo = df.groupby(["Região", "Mês"])

# Calcular soma de Vendas
soma_vendas = grupo["Vendas"].sum()

# Calcular média de Despesas
media_despesas = grupo["Despesas"].mean()

# Exibir resultados
print("Soma total de Vendas por Região e Mês:")
print(soma_vendas)
print("\nMédia de Despesas por Região e Mês:")
print(media_despesas)

Soma total de Vendas por Região e Mês:
Região  Mês
Norte   Fev    1900.0
        Jan    1500.0
        Mar    2000.0
Sul     Fev    1800.0
        Jan    2200.0
Name: Vendas, dtype: float64

Média de Despesas por Região e Mês:
Região  Mês
Norte   Fev    250.0
        Jan    300.0
        Mar    350.0
Sul     Fev    400.0
        Jan    325.0
Name: Despesas, dtype: float64

Combinação de colunas

In [7]:
import numpy as np

# Extrair colunas Vendas e Despesas como arrays
vendas_array = df["Vendas"].values
despesas_array = df["Despesas"].values

# Combinar horizontalmente
combinado_h = np.hstack((vendas_array, despesas_array))

# Exibir resultado
print("Combinação das colunas Vendas e Despesas:")
print(combinado_h)

Combinação das colunas Vendas e Despesas:
[1500. 1900. 2200. 1800. 2000.  300.  250.  325.  400.  350.]

Sumário estatístico

In [8]:
# Gerar sumário estatístico
sumario = df[["Vendas", "Despesas"]].describe()

# Exibir sumário completo
print("Sumário estatístico:")
print(sumario)

# Extrair apenas média, mediana e desvio padrão
print("\nSumário simplificado:")
print("Média:")
print(df[["Vendas", "Despesas"]].mean())
print("\nMediana:")
print(df[["Vendas", "Despesas"]].median())
print("\nDesvio Padrão:")
print(df[["Vendas", "Despesas"]].std())

Sumário estatístico:
            Vendas    Despesas
count     5.000000    5.000000
mean   1880.000000  325.000000
std     258.843582   55.901699
min    1500.000000  250.000000
25%    1800.000000  300.000000
50%    1900.000000  325.000000
75%    2000.000000  350.000000
max    2200.000000  400.000000

Sumário simplificado:
Média:
Vendas      1880.0
Despesas     325.0
dtype: float64

Mediana:
Vendas      1900.0
Despesas     325.0
dtype: float64

Desvio Padrão:
Vendas      258.843582
Despesas     55.901699
dtype: float64